<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>$.fn.modal || document.write('<script src="js/bootstrap.min.js">\x3C/script>')</script>

    <script src="js/jquery.easing.min.js"></script>
    <script src="js/dynamicScroll.js"></script>

	<script type="text/javascript">
	function newPopup(url) {
		popupWindow = window.open(url,'popUpWindow','height=600,width=800,left=112,top=84,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
	}
	</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- But seriously, why are you using IE in the first place? -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
