<!-- Event Modals -->
 {% for post in site.posts %}
    <div class="event-modal modal fade" id="{{ post.date | date: "%y%m%d" }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" data-dismiss="modal">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
			    <br />
                            <img src="img/events/{{ post.img }}" class="img-responsive img-cnt" alt="{{ post.alt }}">
                            <ul class="list-inline item-details">
                                <li>Held on:
                                    <strong>{{ post.date | date: "%b %-d, %Y" }}</strong>
                                </li>
								{% if post.courses %}<li>Relevant Courses: <strong>{{ post.courses }}</strong></li>{% endif %}
                            </ul>{{ post.content }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
