<!-- Sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center"><h2>Sponsors</h2></div>
        </div>
        <div class="row">
			{% for sponsor in site.sponsors %}
            <div class="col-xs-12 col-sm-4"><img src="img/sponsors/{{ sponsor }}.png" class="img-responsive" /></div>
			{% endfor %}
		</div>
		<div class="row">
            <div class="col-xs-12 text-center">
			<p>If you'd like to support our club you can choose to make a donation.</p>
			<form action="https://donate.utoronto.ca/give/show/5"><button type="submit" class="btn btn-lg">Donate</button></form>
			</div>
		</div>	    
    </div>
</section>
